@media (max-width: 900px){
	body{
		margin:20px 3vw;
	}
	header{
		height: 15vh;
	}
	.master{
		display:block;
	}
	.contenido{
		width: auto;
		padding: 20px;
		margin-right: 0;
	}
	.lateral{
	width: auto;
	}
	.cetilogo{
		width: 100px;
	}
	p,ul,ol{
		font-size: 0.8em;
	}
	.title{
		font-size:1.1em;
	}
	strong{
		font-size: 0.9em;
	}
}

@media (min-width: 901px){
	body{
		/*margin:20px 20vw;*/
		margin: auto;
		width: 1000px;
	}
	.master{
		display:flex;
	}
	.contenido{
		width: 70%;
		padding: 50px;
		margin-right: 10px;
	}
	.lateral{
		width: 20%;
	}
	.cetilogo{
	width: 100%;
	}
	.title{
		font-size: 1.5em;
	}
}


body{
	background-color: rgb(10,20,30);
	background-image: url(background.jpg);
	background-size: cover;
	background-repeat: repeat-y;
	margin-top: 30px;
}



*{
	color: white;
	font-family: "Calibri"
}

header{
	/*background: linear-gradient(rgb(217 133 0) 10%, rgb(229 63 63) 100%);*/
	background-image: url(header.jpg);
	height: 200px;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 15px;
	box-shadow:1px 1px 10px black;
	background-size: cover;


}

.contenido{
	background-color: rgb(0,0,0,0.9);
	height: auto;
	border-radius: 10px;
	margin-top: 15px;
	/*float:left;*/
}

.lateral{
	background-color: rgb(0,0,0,0.9);
	height: auto;
	padding: 50px;
	border-radius: 10px;
	margin-top: 15px;
}

nav{
	text-decoration: none;
	border-radius: 10px 10px 11px 11px;
    background: linear-gradient(rgb(50,50,50,0.5) 10%, black 100%);
    margin:0;
}


nav li:hover{
	background-color: rgb(250,250,250,0.2);
}


nav ul{
    padding: 18px;
    text-align: center;
    margin: 0;
}

nav li{
	transition: background-color 0.5s;
    display: inline;
    padding:18px 8px;
}

nav li a{
    text-decoration: none;
    color: white;
}


article{
	margin-bottom: 90px;
	text-align: justify;
}

.title{
	color: orange;
	text-align: left;
	text-shadow: 1px 1px 5px;
}

.autor{
	width: 3em;
	float: left;
	margin-right: 10px;
	border: 2px solid white;
	border-radius: 3px;
}

footer{
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	color: black;


}

p{
	color:#c0c0c0;
}

.cetilogo{
	border: 2px solid orange;
	border-radius: 3px;
}

strong{
	/*text-shadow: 1px 1px 2px orange;*/
	color:#ffd587
}

ol{
	padding-inline-start: 20px;
}

li{
	/*color:#ffd587*/
}

.artimg{
	width: 90%;
	border-radius: 5px;
	display: block;
	margin:auto;
	box-shadow: 0px 0px 10px orange;
}



.separador{
	border-top: 3px solid orange;
	width: 100%;
	height: 10px;
}

